<div class="container" id="white-box">

<div class="page-header">
  <h1>Task #<%= @task.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Tip</dt>
  <dd><%= @task.tip.title %></dd>

  <dt>To do list</dt>
  <dd><%= @task.to_do_list_id %></dd>

</dl>

</div>
